groups:
  - name: rate-alerting
    rules:
      - alert: Error in logs
        expr: |
          sum by(message, ip_address, message) (rate({appname="neutrond"} | json | level = `error` | message != `Failed to reconnect to peer. Giving up` | message != `Stopping peer for error` | message != `error while stopping connection` | message != `Failed to read request` [2m] | message != `Failed to reconnect to peer. Beginning exponential backoff`))
        for: 1m
        labels:
          severity: critical
        annotations:
          title: "Error detected in logs"
          description: "Error detected in logs {{ $labels.ip_address }} {{ $labels.err }} {{ $labels.message }}"
          priority: P1
          service: neutron-test