version: '3'
networks:
  mon:
volumes:
  grafana:
  prometeus:
  loki:
services:
  loki:
    image: grafana/loki
    volumes:
      - /opt/monitoring/loki:/etc/loki
      - loki:/tmp/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    command: -config.file=/etc/loki/loki-config.yml
    networks:
      - mon
    user: "0"
  grafana:
    image: grafana/grafana
    volumes:
      - grafana:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./certs:/certs
    restart: unless-stopped
    user: "0"
    ports:
      - "443:3000"
    networks:
      - mon
  prometeus:
    image: prom/prometheus:v2.38.0
    volumes: 
      - ./prometeus:/etc/prometeus
      - prometeus:/prometheus
    command: --config.file=/etc/prometeus/prometeus.yml
    user: "0"
    ports: 
      - "9191:9090"
    networks:
      - mon
  alertmanager:
    image: prom/alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager:/etc/alertmanager
    command: --config.file=/etc/alertmanager/alertmanager.yml
    networks:
      - mon
    user: "0"